* {
	font-size: min(3vh, 4vw);
	font-family: "Aldrich";
	font-variant: petite-caps;
	color: #ddd;
}

h3 {
	margin: 0;
}

button {
	padding: .25em 2ch;
	font-size: inherit;
	background-color: #222;
	border: .1em solid #444;
	border-radius: 1em;
	cursor: pointer;
}

button:hover {
	border-color: #888;
	background-color: #000;
}

img#loading {
	height: min(50vh, 50vw);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.switch {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 1em;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	inset: 0;
	background-color: #800;
	transition: 0.3s;
	border-radius: 1em;
}

.slider::before {
	content: "";
	position: absolute;
	height: 0.8em;
	width: 0.8em;
	left: .1em;
	top: .1em;
	background-color: white;
	transition: 0.3s;
	border-radius: 50%;
}

input:checked+.slider {
	background-color: #080;
}

input:checked+.slider::before {
	transform: translateX(0.8em);
}

#panel {
	display: flex;
	flex-direction: row;
	gap: 1ch;
	align-items: center;
	justify-content: center;
}

#panel button {
	border-color: #800;
}

#panel button.enabled {
	border-color: #080;
}

#panel button:hover {
	border-color: #F88 !important;
}

#panel button.enabled:hover {
	border-color: #8F8 !important;
}
#strings {
	flex-direction: column;
	align-items: flex-start;
		gap: 0.3em;
		padding: 1vh;
	border: solid .1em #444;
	border-radius: 0.5em;
}

#strings p {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: 1ch;
	margin: 0;
	margin-left: 1vh;
}

#addString {
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5em;
}

#addString button {
	width: 10ch;
}

#main {
	align-items: center;
	gap: 1em;
		border-color: transparent;
}

.hidden {
	opacity: 0 !important;
	visibility: hidden !important;
	top: 102vh;
}

#settings,
#chatbox {
	background-color: #111;
}

label {
	width: 100%;
}

textarea,
input[type="text"] {
	background-color: #222;
	border-color: #333;
	border: 0.125em solid #444;
	border-radius: 0.5em;
	outline: none;
	width: 10ch;
}

input[type="text"] {
	margin: 0;
	padding: .25em 0.3ch;
}

textarea {
	width: 90%;
	padding: 0.7em 1ch;
}

textarea:focus-visible,
input:focus-visible {
	background-color: #000;
		border-color: #666;
	outline: none;
}

table {
	width: 100%;
	text-align: center;
}

#settings table input {
	width: 80%;
	padding: 0 .5ch;
}

table tr:first-child {
	text-align: center;
}

table td:first-child {
	text-align: right;
	padding-right: 1ch;
}

img#power.enabled {
	border-color: green;
}

img#power {
	border: .1em solid red;
	border-radius: 2em;
}

#chatbox {
	align-items: center;
}

body>div {
	border: .5vh solid #444;
		border-radius: 1.5em;
		position: fixed;
		left: 50vw;
		top: 2.5vh;
	opacity: 1;
	visibility: visible;
	transform: translateX(-50%);
	width: min(30ch, 85vw);
	max-height: 90vh;
		padding: 2vh;
	display: flex;
	flex-direction: column;
	overflow: overlay;
		gap: 0.3em;
		transition-property: opacity, visibility, top;
	transition-timing-function: ease-in-out;
	transition-duration: 250ms;
}

img#close {
	width: 2em;
	height: 2em;
}

#topbar div {
	width: 5em;
	display: flex;
	justify-content: space-between;
}

input[type="range"] {
	appearance: none;
	-webkit-appearance: none;
	width: 10ch;
	height: 1em;
	background: #ddd;
	border-radius: 1em;
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	-webkit-appearance: none;
	height: 1em;
	width: 1em;
	background: #4caf50;
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
	height: 1em;
	width: 1em;
	background: #4caf50;
	border-radius: 50%;
	cursor: pointer;
}

input[type="range"]::-ms-thumb {
	height: 1em;
	width: 1em;
	background: #4caf50;
	border-radius: 50%;
	cursor: pointer;
}

#panel button {
	padding: .125em 1ch;
}
#settings #mockData {
	flex-direction: column;
	gap: .5em;
	margin-top: 1em;
	padding: 1vh 0 2vh 0;
	border: 0.5vh solid #444;
	border-radius: 1em;
	width: calc(100% - 1vh);
}

#mockData>div {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

body>div>div {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

div>#buttons {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#buttons nil {
	width: 2em;
	height: 2em;
}

#buttons img {
	height: 2em;
	width: 2em;
	cursor: pointer;
}

#settings>div {
	width: 100%;
}

td {
	padding: .1em 0;
}

#strings img {
	height: 1em;
	margin-left: -0.5ch;
}