canvas {
	opacity: 0;
}

#gradientMaskContainer {
	mask-image: linear-gradient(90deg, transparent, white 75%);
	filter: brightness(1.2) contrast(1.2);
}

#min,
#max {
	right: .5ch;
}

#min {
	bottom: 0;
}

#max {
	top: 0;
}

#batt {
	top: 12vh;
	right: 4vw;
}