canvas {
	opacity: 0;
}

#gradientMaskContainer {
	position: fixed;
	filter: contrast(1.5);
	bottom: 1vh;
	left: 50%;
	width: 95%;
	height: 75%;
	transform: translatex(-50%);
	border: solid #444;
	padding: 3vh 1vw;
}

#gradientMask {
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, #44f, #4f4, #ff4, #f44);
	mask-repeat: no-repeat;
	mask-position: right;
	mask-size: 100% 100%;
	mask-image: linear-gradient(transparent, transparent);
}

#text {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

#text p {
	color: white;
	font-size: 3vh;
	margin: 0;
	padding: 0;
}

span#range {
	font-size: 5vh;
}

p#min {
	color: #6cbcff;
}

p#max {
	color: #ff7575;
}

button {
	background: #111;
	font-size: inherit;
	color: white;
	outline: none;
	border: #444 solid;
	border-radius: 2em;
	width: 2.5ch;
	aspect-ratio: 1;
}

#navButtons {
	display: flex;
	position: fixed;
	top: 6vh;
	font-size: 4vh;
	left: 50%;
	transform: translateX(-50%);
	width: 28ch;
	justify-content: space-between;
	align-items: center;
}

#zoomButtons {
	position: fixed;
	right: 2vw;
	bottom: 2vh;
	font-size: 3vh;
}

#stepButtons {
	position: fixed;
	top: 12vh;
	left: 50%;
	font-size: 3vh;
	transform: translateX(-50%);
}

#rangeSelect {
	position: fixed;
	top: 1vh;
	left: 50%;
	font-size: 3vh;
	transform: translateX(-50%);
	background: #111;
	color: white;
	padding: .125em 0;
	border: .25vh solid #444;
}