body {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#text {
	width: 70vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#rate {
	font-size: 67vh;
	margin: -0.2em 0 -.28em;
}

#heart {
	width: 20vw;
	position: unset;
	transform: none
}

.pulse {
	animation: pulse 0.7s forwards;
}

#minMax {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 13vh;
	color: white;
	gap: 1ch;
}

#min,
#max {
	font-weight: bold;
	position: unset;
}

p {
	margin: 0;
	padding: 0;
}

#batt {
	bottom: 21vh;
	left: 5vw;
}